@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Poppins:100,300,400,500,600,700,800,900');

body,html{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
  }

h1,h2,h3,h4,h5,h6,p{
    margin:0;
    margin-bottom: 5px;
}


.card-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:20px;
}

.a-card{
    box-shadow: 0px 0px 8px #00000029;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
  }

  .card-height{
    padding:0;
    width: 800px;
    height: 270px;
    display: flex;
    .color-div{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e0e0e07a;
    position: relative;
    overflow: hidden;
    .dot{
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: 25px;
        height: 25px;
        background: #ff5722e0;
        border-radius: 100%;
        transition: 1s;
        z-index: 2;
    }
    .head{
        font-size: 3.5rem;
        position: relative;
        z-index: 10;
        transition:0.5s;
    }
    }
    .text{
        width: 60%;
        padding: 2.5rem;
        display: flex;
        align-items: center;
        overflow-y: scroll;
    }
  }

  .card-height:hover{
      .dot{
          transform: scale(30,30);
      }
      .head{
        color: white;
      }
  }